* {
    margin: 0;
    padding: 0;
}
.body {
    font-family: Arial, Helvetica, sans-serif;
}

/* style first section (header-logo, header-link, main dan image) */
.first {
    color: white;
    background-color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
}

.link {
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    margin-right: 100px;
    padding: 10px;
}

ul {
    display: flex;
    list-style: none;
    gap: 40px;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    font-size: 24px;
    margin-left: 200px;
}

.header-link {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.title2 {
    font-size: 18px;
    color: #e5e7eb;
    max-width: 444px;
}

.main {
    width: 50%;
    margin-left: 100px;
}

.header-main {
    display: flex;
    padding: 100px;
    justify-content: space-around;
}

.image {
    background-color: grey;
    color: #f9faf8;
    padding: 100px 160px;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 5px 25px;
    border: none;
    border-radius: 5px;
}

/* style second section (some random information)*/
h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding-top: 30px;
}

.allbox {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 20px;
}

.box1 {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    border: 5px solid #3882f6;
}

.text {
    text-align: center;
    color: grey;
    margin-top: 160px;
}

.second {
    font-family: Arial, Helvetica, sans-serif;
}

/* style third section (quote) */
.third {
    margin-top: 150px;
    background-color: #e5e7eb;
    font-family: Arial, Helvetica, sans-serif;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h3 {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    color: #1f2937;
}

.Who {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: end;
}

.class {
    margin-right: 200px;
}

/* style fourth section (calling action) */
.last {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    width: 900px;
    height: 120px;
    border: 0 solid #3882f6;
    border-radius: 8px;
}

.action {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: center;
    width: 65%;
    margin-left: 100px;
    color: white;
}

h4 {
    font-size: 24px;
}

.signup {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tombol {
    background-color: #3882f6;
    color: white;
    padding: 5px 25px;
    border: 3px solid white;
    border-radius: 5px;
}

/* style fifth section (copyright) */
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1f2937;
    color: white;
    height: 60px;
}